<div id="header-image-contain">
	<a href="/"><img src="/images/HeaderLogo128.png"/></a>
</div>
<div id="storeLogo-contain" style="display:none;">
	<div id="appStore-contain">
		<a href="http://itunes.apple.com/us/app/bike-and-walk/id524254162?ls=1&amp;mt=8" target="_blank">
			<img src="/images/App_Store_Badge_222_78.png" alt="Available in the Apple App Store" />
		</a>
	</div>
	<div id="googlePlay-contain">
		<a href="https://play.google.com/store/apps/details?id=com.leddyconsulting.bikewalk" target="_blank" >
			<img src="/images/GooglePlay_Badge_172_60.png" alt="Available in the Google Play Store" />
		</a>
	</div>
</div>
<div id="header-content">
	<h1>Bike and Walk App</h1>
</div>
